* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  background-color: #fff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px;
  width: 100%;
}
.myntra_home {
  height: 36px;
  width: 53px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: 0;
  text-transform: uppercase;
  color: #282c3f;
  padding: 28px 0;
  border-bottom: 5px solid #fff;
}
.nav_bar a:hover {
  border-bottom: 4px solid #ff3f6c;
  transition: 2s;
}
.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}
.search_bar {
  display: flex;
  height: 40px;
  min-width: 200px;
  width: 30%;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #ebf5eb;
  color: #696e79;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  border-radius: 0 4px 4px 0;
  color: #696e79;
  background-color: #ebf5eb;
  flex-grow: 1;
  height: 40px;
  outline: 0;
  border: 0;
}
.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}
.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --------------------------------------------- */
.bainer_container {
  margin: 40px 0;
}
.banner_img {
  width: 100%;
}
.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}
.category_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category_items,item_container{
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sale_item {
  width: 250px;
}

.items_container {
  margin: 40px 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.item_container {
  width: 250px;
  margin: 20px;
}

.item_img {
  width: 100%;
}

.reting {
  font-size: 12px;
  font-weight: 700;
}

.company {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item_name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.price {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
  white-space: nowrap;
}
.current_price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.Orignal_price {
  text-decoration: line-through;
  color: #a2a5a2;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.btn_add_bag {
  margin-top: 8px;
 font-size: 18px;
 padding: 8px 15px;
 width: 100%;
 background-color: lightgreen;
 border: 0;
 border-radius: 10px;
}
.bag_item_count{
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -50px;
  font-weight: 700;
  cursor: pointer;
  background: #f16565;
}
.action_name{
  text-decoration: 0;
}

























